[Unit]
Description=Disable power saving on rotating hard drives

# Assumption: the relevant devices are available at boot time
# (after local-fs.target, which is an automatic dependency).
After=suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/hdparm-noapm.sh

[Install]
WantedBy=multi-user.target \
      suspend.target hibernate.target hybrid-sleep.target
